body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
*{
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color:  hsl(32, 43%, 76%);
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    width: 45vw;
    height: 150px;
    gap: 20px;

}

.first-btn{
    display: flex;
    background-color: bisque;
    height: 50px;
    width: 100px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    
}
.second-btn{
    display: flex;
    background-color: hsl(33, 100%, 88%);
    height: 50px;
    width: 100px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
.first-img{
    width: 50px;
    height: 50px;
}
.cmplg{
    display: flex;
    background-color: bisque;
    height: 50px;
    width: 120px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
.fourth-btn{
    display: flex;
    background-color: bisque;
    height: 50px;
    width: 100px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
.fifth-btn{
    display: flex;
    background-color: bisque;
    height: 50px;
    width: 100px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

#article{
   
    display: flex;
    background-color:  hsl(32, 43%, 76%);

    align-items: center;
    justify-content: left;
    margin-top: 50px;
    
    padding: 20px;
    box-sizing: border-box;
    width: 75vw;
    height: 350px;
    gap: 25px;
}
.second-img{
    height: 300px;
}
.f-ph{
    display: flex;
    flex-direction: column;
 
   
}
span{
    font-weight: bold;
}
#product{
    display: flex;
    flex-direction: column;
    background-color:  hsl(32, 43%, 76%);

    align-items: top;
    justify-content: left;
    margin-top: 50px;
    border-radius: 100px;
   
   
    height: 450px;
    width: 300px;
}
.third-img{
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    width:300px;

}
.info{
padding-top: 40px;
display: flex;
gap: 30px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.add_btn{
    display: flex;
    width: 200px;
    height:40px;
    border-radius: 100px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}
.bio-tag{
    font-size: larger;
    font-weight: bold;
}
.price{
    font-size: larger;
    font-weight: bold;
}
